body {
  font: 14px "Century Gothic", Futura, sans-serif;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  height: 99vh;
  width: 99vw;
}
div,
h1 {
  border: 1px solid black;
  background: LightPink;
  margin: 0;
  /* display: inline-block; */
}
ul {
  list-style-type: none;
  padding: 0;
}
.container {
  /* width: 100%; */
  background: white;
  display: grid;
  grid-template-columns: minmax(50px, 1fr) 9fr;
  grid-gap: 10px;
}

nav {
  border: 5px solid red;
  grid-row: 1/-1;
}

.game {
  display: grid;
  height: 98vh;
  grid-template-rows: 1fr 1fr 8fr;
}
:root {
  --row: 3;
  --col: 3;
}
.board {
  display: grid;
  grid-template: repeat(var(--row), 1fr) / repeat(var(--col), 1fr);
}
.btn {
  width: 100%;
  border-radius: 5px;
}
.selected {
  border: 5px solid yellowgreen;
}
.square {
  display: block;
  font: 14px "Century Gothic", Futura, sans-serif;
  /* margin: auto auto;
  height: 90%;
  width: 90%; */
}
